* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-container {
    background-color: #384727;
    padding: 4rem 0 2rem 0;
}

.footer {
    width: 80%;
    height: 40vh;
    background-color: #384727;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.footer-heading h2 {
    margin-bottom: 2rem;
}

.footer-heading a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-heading a:hover {
    color: red;
    transition: 0.3s ease-out;
}

.footer-email-form h2 {
    margin-bottom: 2rem;
}

#footer-email {
    width: 250px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

#footer-email::placeholder {
    color: #b1b1b1;
}

#footer-email-btn {
    width: 100px;
    height:40px;
    border-radius: 4px;
    background-color: #cabdaf;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
}

#footer-email-btn:hover {
    cursor: pointer;
    background-color: #F5D54A;
    transition: all 0.4s ease-out;
}

@media screen and (max-width: 1150px) {
    .footer {
        height: 50vh;
    }
    .footer-email-form {
        margin-top: 4rem;
    }
}

@media screen and (max-width: 820px) {
    .footer {
        padding-top: 2rem;
    }
}

@media screen and (max-width: 720px) {
    .footer-3 {
        display: none;
    }
    .footer-email-form {
        margin-top: 2rem;
    }
}